.git
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.ipynb_checkpoints
build/
dist/
.eggs/
.env
.env.*
venv/
.venv/
.mypy_cache/
.pytest_cache/
**/.pytest_cache/
data/
datasets/
cache/
logs/
wandb/
**/*.wav
**/*.mp3
