name: Build & Push Docker (Jetson arm64)

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-push-arm64:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Free disk space
        uses: jlumbroso/free-disk-space@v1
        with:
          tool-cache: true
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: false   # on garde Docker

      - name: Set up QEMU (arm64 emulation)
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker Hub login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: xbmtb82/asr_jetson
          tags: |
            type=raw,value=latest,enable={{is_default_branch}}
            type=sha,format=short
          labels: |
            org.opencontainers.image.title=ASR_jetson
            org.opencontainers.image.source=${{ github.repository }}
            org.opencontainers.image.revision=${{ github.sha }}

      - name: Build & Push (arm64 only)
        uses: docker/build-push-action@v6
        with:
          context: .
          # ⚠️ si ton Dockerfile n'est pas à la racine, décommente :
          file: docker/Dockerfile.jetson
          platforms: linux/arm64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          provenance: false
          cache-from: type=gha
          cache-to: type=gha,mode=max
